* {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --primary-dark-color: #242424;
  --primary-white-color: #dad8d5;
  --primary-font-family: "Public Sans", "Public Sans Placeholder", sans-serif;
  --secondary-font-family: "PT Serif", "PT Serif Placeholder", serif;
}

body {
  color: var(--primary-white-color);
  background-color: var(--primary-dark-color);
  font-family: var(--primary-font-family);
  overflow-x: hidden;
  user-select: none;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  -webkit-user-drag: none;
}

.title {
  text-transform: capitalize;
}

/* Hero Section */
.heroSection {
  position: relative;
  overflow-x: hidden;
}

.heroSection .wrapper {
  position: absolute;
  width: 95%;
  height: 100vh;
  overflow: hidden;
  max-width: 1536px;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75) 20%,
    rgba(0, 0, 0, 0.75) 80%,
    rgba(0, 0, 0, 0)
  );
}

@media screen and (max-width: 768px) {
  .heroSection .wrapper {
    display: none;
  }
}

@keyframes ScrollToLeft {
  to {
    left: -400px;
  }
}

.sentence {
  width: 200px;
  height: 100%;
  position: absolute;
  left: 100%;
  font-size: clamp(50px, 9vw, 120px);
  text-align: center;
  animation: ScrollToLeft 10s linear infinite;
  -webkit-animation: ScrollToLeft 10s linear infinite;
  transform: translateY(40%);
  -webkit-transform: translateY(40%);
  -moz-transform: translateY(40%);
  -ms-transform: translateY(40%);
  -o-transform: translateY(40%);
}

.sentence1 {
  animation-delay: calc(10s / 3 * (3 - 1) * -1);
}
.sentence2 {
  animation-delay: calc(10s / 3 * (3 - 2) * -1);
}
.sentence3 {
  animation-delay: calc(10s / 3 * (3 - 3) * -1);
}

.heroSection .title {
  font-weight: 400;
  font-size: 52px;
}

.heroSection .title span {
  font-family: var(--secondary-font-family);
  font-weight: bolder;
  font-style: italic;
}

.jobTitles {
  height: 40px;
  position: relative;
  overflow: hidden;
  padding: 0 15px !important;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 10px !important;
}

.jobTitles ul {
  animation: jobTitlesScrolling 4.5s both 0s infinite linear;
  -webkit-animation: jobTitlesScrolling 4.5s both 0s infinite linear;
  text-align: center;
}

@keyframes jobTitlesScrolling {
  0%,
  100% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
  29% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
  33% {
    transform: translateY(-36px);
    -webkit-transform: translateY(-36px);
    -moz-transform: translateY(-36px);
    -ms-transform: translateY(-36px);
    -o-transform: translateY(-36px);
  }
  62% {
    transform: translateY(-36px);
    -webkit-transform: translateY(-36px);
    -moz-transform: translateY(-36px);
    -ms-transform: translateY(-36px);
    -o-transform: translateY(-36px);
  }
  66% {
    transform: translateY(-72px);
    -webkit-transform: translateY(-72px);
    -moz-transform: translateY(-72px);
    -ms-transform: translateY(-72px);
    -o-transform: translateY(-72px);
  }
  95% {
    transform: translateY(-72px);
    -webkit-transform: translateY(-72px);
    -moz-transform: translateY(-72px);
    -ms-transform: translateY(-72px);
    -o-transform: translateY(-72px);
  }
}

.parent {
  perspective: 800px;
  margin-bottom: 15px !important;
}

.cardImage {
  width: 300px;
  height: 400px;
  position: relative;
  transition: 0.3s all ease-in-out;
  -webkit-transition: 0.3s all ease-in-out;
  -moz-transition: 0.3s all ease-in-out;
  -ms-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  transform-style: preserve-3d;
  transform-origin: center center;
}

.parent:hover .cardImage {
  transform: rotateY(-180deg);
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
}

.cardImage .face {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  position: absolute;
  text-transform: capitalize;
  font-weight: bold;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  border-radius: 48px;
  -webkit-border-radius: 48px;
  -moz-border-radius: 48px;
  -ms-border-radius: 48px;
  -o-border-radius: 48px;
  overflow: hidden;
  cardimage-shadow: rgba(0, 0, 0, 0.3) 0px 20px 20px 0px;
}

.cardImage .face .myImage img {
  height: 100%;
}

.cardImage .face.back {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  padding: 15px !important;
  color: var(--primary-dark-color);
  background-color: var(--primary-dark-color);
}

.cardImage .face.back::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  backdrop-filter: blur(100px);
  width: 100%;
  height: 100%;
  z-index: -1;
}

.cardImage .face.back a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--primary-white-color);
  font-size: 20px;
  gap: 10px;
}

.cardImage .face.back a .icon {
  font-size: 15px;
  width: 35px;
  height: 35px;
  border: 2px solid var(--primary-white-color);
  display: flex;
  justify-content: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  position: relative;
}

.cardImage .face.back a .icon i {
  position: absolute;
  top: 5px;
  transition: 0.5s all ease-in-out;
  -webkit-transition: 0.5s all ease-in-out;
  -moz-transition: 0.5s all ease-in-out;
  -ms-transition: 0.5s all ease-in-out;
  -o-transition: 0.5s all ease-in-out;
  animation: topDownArrow 1s both infinite linear;
  -webkit-animation: topDownArrow 1s both infinite linear;
}

@keyframes topDownArrow {
  0%,
  100% {
    top: 5px;
  }
  50% {
    top: 12.5px;
  }
}

.clients {
  display: flex;
  align-items: center;
  margin-bottom: 20px !important;
}

.clients p {
  font-weight: bold;
  font-size: 18px;
}

.avatars {
  display: flex;
  align-items: center;
}

.avatars picture img {
  width: 28px;
  border: 1.5px solid var(--primary-dark-color);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.avatars picture:nth-child(2) {
  transform: translateX(-6px);
  -webkit-transform: translateX(-6px);
  -moz-transform: translateX(-6px);
  -ms-transform: translateX(-6px);
  -o-transform: translateX(-6px);
}

.avatars picture:nth-child(3) {
  transform: translateX(-12px);
  -webkit-transform: translateX(-12px);
  -moz-transform: translateX(-12px);
  -ms-transform: translateX(-12px);
  -o-transform: translateX(-12px);
}

.specialLink {
  position: relative;
  z-index: 2;
}

.specialLink a {
  font-size: 18px;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  font-weight: bold;
  color: var(--primary-white-color);
  padding: 6px 6px !important;
  border: 3.5px solid var(--primary-white-color);
  border-radius: 96px;
  -webkit-border-radius: 96px;
  -moz-border-radius: 96px;
  -ms-border-radius: 96px;
  -o-border-radius: 96px;
  overflow: hidden;
  transition: 0.5s all linear;
  -webkit-transition: 0.5s all linear;
  -moz-transition: 0.5s all linear;
  -ms-transition: 0.5s all linear;
  -o-transition: 0.5s all linear;
}

.specialLink a:hover {
  padding: 6px 36px 6px 24px !important;
}

.specialLink a span {
  transform: translateX(25px);
  -webkit-transform: translateX(25px);
  -moz-transform: translateX(25px);
  -ms-transform: translateX(25px);
  -o-transform: translateX(25px);
  transition: 0.5s all linear;
  -webkit-transition: 0.5s all linear;
  -moz-transition: 0.5s all linear;
  -ms-transition: 0.5s all linear;
  -o-transition: 0.5s all linear;
}

.specialLink a i {
  background-color: var(--primary-white-color);
  color: var(--primary-dark-color);
  width: 48px;
  height: 48px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(60px) rotate(-180deg);
  -webkit-transform: translateX(60px) rotate(-180deg);
  -moz-transform: translateX(60px) rotate(-180deg);
  -ms-transform: translateX(60px) rotate(-180deg);
  -o-transform: translateX(60px) rotate(-180deg);
  transition: 0.5s all linear;
  -webkit-transition: 0.5s all linear;
  -moz-transition: 0.5s all linear;
  -ms-transition: 0.5s all linear;
  -o-transition: 0.5s all linear;
}

.specialLink a:hover i {
  transform: translateX(30px) rotate(-360deg);
  -webkit-transform: translateX(30px) rotate(-360deg);
  -moz-transform: translateX(30px) rotate(-360deg);
  -ms-transform: translateX(30px) rotate(-360deg);
  -o-transform: translateX(30px) rotate(-360deg);
}

.specialLink a:hover span {
  transform: translateX(10px);
  -webkit-transform: translateX(10px);
  -moz-transform: translateX(10px);
  -ms-transform: translateX(10px);
  -o-transform: translateX(10px);
}

.icons {
  position: absolute;
  width: 100%;
  height: 80vh;
  top: 25px;
}

.icons picture {
  position: absolute;
  z-index: 1;
}

.icons picture:first-child {
  top: 15%;
  left: 25%;
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  animation: upAndDownCh1 2.5s linear 0s infinite;
  -webkit-animation: upAndDownCh1 2.5s linear 0s infinite;
}

@keyframes upAndDownCh1 {
  0%,
  100% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
  50% {
    transform: translateY(5px);
    -webkit-transform: translateY(5px);
    -moz-transform: translateY(5px);
    -ms-transform: translateY(5px);
    -o-transform: translateY(5px);
  }
}

.icons picture:nth-child(2) {
  top: 15%;
  right: 25%;
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  animation: upAndDownCh2 2s linear 0s infinite;
  -webkit-animation: upAndDownCh2 2s linear 0s infinite;
}

@keyframes upAndDownCh2 {
  0%,
  100% {
    transform: translateY(calc(-5px));
    -webkit-transform: translateY(calc(-5px));
    -moz-transform: translateY(calc(-5px));
    -ms-transform: translateY(calc(-5px));
    -o-transform: translateY(calc(-5px));
  }
  50% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}

.icons picture:nth-child(3) {
  top: 50%;
  left: 17.5%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  animation: upAndDownCh3 2s linear 0s infinite;
  -webkit-animation: upAndDownCh3 2s linear 0s infinite;
}

@keyframes upAndDownCh3 {
  0%,
  100% {
    transform: translateY(calc(-50% + 5px));
    -webkit-transform: translateY(calc(-50% + 5px));
    -moz-transform: translateY(calc(-50% + 5px));
    -ms-transform: translateY(calc(-50% + 5px));
    -o-transform: translateY(calc(-50% + 5px));
  }
  50% {
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
  }
}

.icons picture:nth-child(4) {
  top: 50%;
  right: 17.5%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  animation: upAndDownCh4 3s linear 0s infinite;
  -webkit-animation: upAndDownCh4 3s linear 0s infinite;
}

@keyframes upAndDownCh4 {
  0%,
  100% {
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
  }
  50% {
    transform: translateY(calc(-50% + 5px));
    -webkit-transform: translateY(calc(-50% + 5px));
    -moz-transform: translateY(calc(-50% + 5px));
    -ms-transform: translateY(calc(-50% + 5px));
    -o-transform: translateY(calc(-50% + 5px));
  }
}

.icons picture:nth-child(5) {
  top: 75%;
  left: 25%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  animation: upAndDownCh5 2s linear 0s infinite;
  -webkit-animation: upAndDownCh5 2s linear 0s infinite;
}

@keyframes upAndDownCh5 {
  0%,
  100% {
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
  }
  50% {
    transform: translateY(calc(-50% + 5px));
    -webkit-transform: translateY(calc(-50% + 5px));
    -moz-transform: translateY(calc(-50% + 5px));
    -ms-transform: translateY(calc(-50% + 5px));
    -o-transform: translateY(calc(-50% + 5px));
  }
}

.icons picture:last-child {
  top: 75%;
  right: 25%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  animation: upAndDownCh6 2.5s linear 0s infinite;
  -webkit-animation: upAndDownCh6 2.5s linear 0s infinite;
}

@keyframes upAndDownCh6 {
  0%,
  100% {
    transform: translateY(calc(-50%));
    -webkit-transform: translateY(calc(-50%));
    -moz-transform: translateY(calc(-50%));
    -ms-transform: translateY(calc(-50%));
    -o-transform: translateY(calc(-50%));
  }
  50% {
    transform: translateY(calc(-50% + 5px));
    -webkit-transform: translateY(calc(-50% + 5px));
    -moz-transform: translateY(calc(-50% + 5px));
    -ms-transform: translateY(calc(-50% + 5px));
    -o-transform: translateY(calc(-50% + 5px));
  }
}

.icons picture img {
  width: 190px;
}

@media screen and (max-width: 1300px) {
  .icons picture:first-child {
    left: 17.5%;
  }

  .icons picture:nth-child(2) {
    right: 17.5%;
  }

  .icons picture:nth-child(3) {
    left: 10%;
  }

  .icons picture:nth-child(4) {
    right: 10%;
  }

  .icons picture:nth-child(5) {
    left: 17.5%;
  }

  .icons picture:last-child {
    right: 17.5%;
  }

  .icons picture img {
    width: 150px;
  }
}

@media screen and (max-width: 992px) {
  .icons picture:first-child {
    left: 15%;
  }

  .icons picture:nth-child(2) {
    right: 15%;
  }

  .icons picture:nth-child(3) {
    left: 7.5%;
  }

  .icons picture:nth-child(4) {
    right: 7.5%;
  }

  .icons picture:nth-child(5) {
    left: 15%;
  }

  .icons picture:last-child {
    right: 15%;
  }

  .icons picture img {
    width: 125px;
  }
}

@media screen and (max-width: 768px) {
  .icons {
    display: none;
  }
}

/* About Section */

.about {
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about .shapes,
.stack .shapes {
  position: absolute;
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 100%;
  max-width: 1350px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.about .shapes picture,
.stack .shapes picture {
  transition: 3s all ease-in-out;
  -webkit-transition: 3s all ease-in-out;
  -moz-transition: 3s all ease-in-out;
  -ms-transition: 3s all ease-in-out;
  -o-transition: 3s all ease-in-out;
}

.about .shapes picture img,
.stack .shapes picture img {
  width: 30vw !important;
  max-width: 400px;
  min-width: 200px;
}

.about .shapes picture:first-child {
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  animation: moveAboutShape1 10s linear infinite;
  -webkit-animation: moveAboutShape1 10s linear infinite;
}

@keyframes moveAboutShape1 {
  0%,
  100% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }

  50% {
    transform: translateY(75px);
    -webkit-transform: translateY(75px);
    -moz-transform: translateY(75px);
    -ms-transform: translateY(75px);
    -o-transform: translateY(75px);
  }
}
.about .shapes picture:last-child {
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  animation: moveAboutShape2 10s linear infinite;
  -webkit-animation: moveAboutShape2 10s linear infinite;
}

@keyframes moveAboutShape2 {
  0%,
  100% {
    transform: translateY(75px);
    -webkit-transform: translateY(75px);
    -moz-transform: translateY(75px);
    -ms-transform: translateY(75px);
    -o-transform: translateY(75px);
  }

  50% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}

.about .wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: hidden;
  height: 335px;
  position: relative;
}

.about .wrapper .block {
  background-color: rgba(102, 112, 255, 0.05) !important;
  backdrop-filter: blur(5px) !important;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  padding: 48px !important;
}

.about .wrapper .block .inner,
.testmonials .wrapper .block .inner {
  background-color: var(--primary-dark-color);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  padding: 48px !important;
}

.about .wrapper .title,
.testmonials .wrapper .title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px !important;
}

.about .wrapper .desc,
.testmonials .wrapper .desc {
  font-size: 1.1rem;
}

@media screen and (max-width: 992px) {
  .about .wrapper {
    height: 300px;
    gap: 48px;
  }

  .about .wrapper .block {
    padding: 36px !important;
  }

  .about .wrapper .block .inner {
    padding: 36px !important;
  }

  .about .wrapper .title {
    font-size: 1.3rem;
  }

  .about .wrapper .desc {
    font-size: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .about .wrapper {
    height: 275px;
    gap: 130px;
  }

  .about .wrapper .block {
    padding: 24px !important;
  }

  .about .wrapper .block .inner {
    padding: 24px !important;
  }

  .about .wrapper .title {
    font-size: 1.1rem;
  }

  .about .wrapper .desc {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 550px) {
  .about .wrapper {
    height: 225px;
    gap: 150px;
  }

  .about .wrapper .block {
    padding: 18px !important;
  }

  .about .wrapper .block .inner {
    padding: 18px !important;
  }

  .about .wrapper .title {
    font-size: 1rem;
  }
}

@media screen and (max-width: 468px) {
  .about .wrapper {
    height: 220px;
    gap: 150px;
  }

  .about .wrapper .block {
    padding: 18px !important;
  }

  .about .wrapper .block .inner {
    padding: 18px !important;
  }

  .about .wrapper .title {
    font-size: 0.8rem;
  }

  .about .wrapper .desc {
    font-size: 0.7rem;
  }
}

.about .specialLink {
  transform: translateY(50px);
  -webkit-transform: translateY(50px);
  -moz-transform: translateY(50px);
  -ms-transform: translateY(50px);
  -o-transform: translateY(50px);
}

/* Experiences Section */

.experiences {
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.experiences .wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 65px !important;
  padding-block: 32px !important;
}

.experiences .experience {
  display: flex;
  gap: 0 120px !important;
  position: relative;
  height: auto;
}

.experiences .experience .title {
  width: 35%;
  position: relative;
  opacity: 0;
}

.experiences .experience .title::first-letter {
  background-color: var(--primary-white-color);
  color: var(--primary-dark-color);
  font-size: 2.5rem;
  margin-inline-end: 1.5px !important;
  padding: 2px 5px !important;
}

.experiences .experience .title::after {
  content: "";
  width: 2px;
  background-color: var(--primary-white-color);
  height: 100%;
  position: absolute;
  right: -65px;
  top: 0;
}

.experiences .experience .title::before {
  content: "";
  width: 2px;
  background-color: var(--primary-white-color);
  height: 100%;
  position: absolute;
  left: -65px;
  top: 0;
  display: none;
}

.experiences .experience .title h3 {
  width: 100%;
  font-weight: bold;
}

.experiences .experience .content {
  font-size: 1.5rem;
  width: 65%;
  display: flex;
  flex-direction: column;
  opacity: 0;
  gap: 25px;
  cursor: crosshair;
}

.experiences .experience:hover .content {
  opacity: 1;
}

@media screen and (max-width: 992px) {
  .experiences .wrapper {
    padding-block: 24px !important;
    text-align: center;
  }

  .experiences .experience {
    flex-direction: column;
    gap: 20px 0 !important;
  }

  .experiences .experience .title {
    width: 100%;
    position: relative;
    height: auto;
    top: 0;
  }

  .experiences .experience .title::after {
    display: none;
  }

  .experiences .experience .title h3 {
    width: 100%;
  }

  .experiences .experience .content {
    font-size: 1.2rem;
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .experiences .experience {
    padding: 0 25px !important;
  }
}

/* Stack Section */

.stack {
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.stack .shapes {
  justify-content: center;
  z-index: -1;
  position: absolute;
  top: 25%;
}

.stack .wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 250px));
  gap: 50px;
  justify-content: center;
  margin: auto;
  overflow: hidden;
  position: relative;
}

.stack .wrapper .card {
  background-color: rgba(102, 112, 255, 0.05);
  backdrop-filter: blur(5px) !important;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  padding: 24px !important;
  color: var(--primary-white-color);
  position: relative;
  transform: scale(0.75);
  -webkit-transform: scale(0.75);
  -moz-transform: scale(0.75);
  -ms-transform: scale(0.75);
  -o-transform: scale(0.75);
}

.stack .wrapper .card .inner {
  background-color: var(--primary-dark-color);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  padding: 24px !important;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.stack .wrapper .card .inner .icon img {
  width: 50px;
  filter: grayscale(100);
  -webkit-filter: grayscale(100);
  transition: 0.3s all ease-in-out;
  -webkit-transition: 0.3s all ease-in-out;
  -moz-transition: 0.3s all ease-in-out;
  -ms-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
}

.stack .wrapper .card:hover .inner .icon img {
  filter: grayscale(0);
  -webkit-filter: grayscale(0);
}

.stack .wrapper .card .inner .title {
  font-size: 1rem;
  font-weight: bold;
}

/* Projects Section */

.projects {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects .wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-block: 32px !important;
}

.projects .project {
  width: calc(100% / 2);
  overflow: hidden;
  position: relative;
  opacity: 0;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.projects .project:nth-child(2n + 1) {
  transform: rotate(345deg);
  -webkit-transform: rotate(345deg);
  -moz-transform: rotate(345deg);
  -ms-transform: rotate(345deg);
  -o-transform: rotate(345deg);
}

.projects .project:nth-child(2n) {
  transform: rotate(-345deg);
  -webkit-transform: rotate(-345deg);
  -moz-transform: rotate(-345deg);
  -ms-transform: rotate(-345deg);
  -o-transform: rotate(-345deg);
}

.projects .project::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: var(--primary-dark-color);
  opacity: 0;
  transition: 0.4s all linear;
  -webkit-transition: 0.4s all linear;
  -moz-transition: 0.4s all linear;
  -ms-transition: 0.4s all linear;
  -o-transition: 0.4s all linear;
  transition-delay: 0.2s;
  z-index: 1;
}

.projects .project:hover::before {
  width: 100%;
  height: 50%;
  opacity: 0.8;
}

.projects .project::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: var(--primary-dark-color);
  opacity: 0;
  transition: 0.4s all linear;
  -webkit-transition: 0.4s all linear;
  -moz-transition: 0.4s all linear;
  -ms-transition: 0.4s all linear;
  -o-transition: 0.4s all linear;
  transition-delay: 0.2s;
  z-index: 1;
}

.projects .project:hover::after {
  width: 100%;
  height: 50%;
  opacity: 0.8;
}

@media screen and (max-width: 768px) {
  .projects .project {
    width: 100%;
  }
}

.projects .project .inner {
  padding: 20px !important;
  transition: 0.4s all ease-in-out;
  -webkit-transition: 0.4s all ease-in-out;
  -moz-transition: 0.4s all ease-in-out;
  -ms-transition: 0.4s all ease-in-out;
  -o-transition: 0.4s all ease-in-out;
  background-color: rgb(39, 40, 47);
}

.projects .project img {
  width: 100%;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  transition: 0.3s all linear;
  -webkit-transition: 0.3s all linear;
  -moz-transition: 0.3s all linear;
  -ms-transition: 0.3s all linear;
  -o-transition: 0.3s all linear;
}

.projects .project:hover img {
  filter: grayscale(50%);
  -webkit-filter: grayscale(50%);
}

.projects .project .inner .content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2 !important;
  opacity: 0;
  transition: 0s all linear;
  -webkit-transition: 0.2s all linear;
  -moz-transition: 0.2s all linear;
  -ms-transition: 0.2s all linear;
  -o-transition: 0.2s all linear;
  transition-delay: 0s;
}

.projects .project:hover .inner .content {
  opacity: 1;
}

/* Testmonials Section */

.testmonials {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.testmonials .wrapper {
  gap: 10px;
  overflow: hidden;
  position: relative;
  cursor: grab;
  margin: auto;
}

.testmonials .wrapper::before {
  content: "";
  width: 7.5%;
  position: absolute;
  left: 0;
  background-color: red;
  height: 100%;
  filter: grayscale(100%) blur(50px);
  opacity: 0.1;
  z-index: -1;
  -webkit-filter: grayscale(100%) blur(50px);
}

.testmonials .wrapper::after {
  content: "";
  width: 7.5%;
  position: absolute;
  right: 0;
  background-color: red;
  height: 100%;
  filter: grayscale(100%) blur(50px);
  opacity: 0.1;
  z-index: -1;
  -webkit-filter: grayscale(100%) blur(50px);
}

.testmonials .wrapper .item {
  width: 100% !important;
  flex-wrap: wrap;
  max-width: 992px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--primary-white-color);
  margin: auto !important;
}

.testmonials .wrapper .item .inner img {
  width: 125px;
  margin-inline: auto !important;
}

.testmonials .wrapper .item .inner .title {
  font-size: 1rem;
  font-weight: 500;
}

.testmonials .wrapper .item .inner .name {
  font-size: 1.5rem;
  font-weight: bold;
}

.testmonials .wrapper .item .inner .desc {
  font-size: 0.8rem;
}

/* Get in touch Section */

.contact {
  background-color: rgb(39, 40, 47);
}

.contact .channels {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 1;
}

.contact .channels a {
  color: var(--primary-white-color);
  font-size: 1.5rem;
  transition: 0.6s all linear;
  -webkit-transition: 0.6s all linear;
  -moz-transition: 0.6s all linear;
  -ms-transition: 0.6s all linear;
  -o-transition: 0.6s all linear;
  position: relative;
  padding: 2px 16px !important;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  overflow: hidden;
}

.contact .channels a:hover {
  color: var(--primary-dark-color) !important;
}

.contact .channels a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 0;
  background-color: var(--primary-white-color);
  transition: 0.3s all linear;
  -webkit-transition: 0.3s all linear;
  -moz-transition: 0.3s all linear;
  -ms-transition: 0.3s all linear;
  -o-transition: 0.3s all linear;
  z-index: -1;
}

.contact .channels a::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 0;
  background-color: var(--primary-white-color);
  transition: 0.3s all linear;
  z-index: -1;
}

.contact .channels a:hover::before {
  height: 100%;
}

.contact .channels a:hover::after {
  height: 100%;
}

/* Footer Section */
.footer {
  position: relative;
  height: 275px;
  overflow: hidden;
  background-color: rgb(39, 40, 47);
}

.footer .name {
  position: absolute;
  bottom: -28vw;
  left: 0;
  font-size: 24.5vw;
  text-transform: uppercase;
  font-weight: bold;
  opacity: 0;
}
